In [20]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv')

In [22]:
print("Before deleting unnamed columns")
print('-'*31, sep='')
print(df.head())

Before deleting unnamed columns
-------------------------------
   Unnamed: 0     Id     Name  Year Gender State  Count
0       11349  11350     Emma  2004      F    AK     62
1       11350  11351  Madison  2004      F    AK     48
2       11351  11352   Hannah  2004      F    AK     46
3       11352  11353    Grace  2004      F    AK     44
4       11353  11354    Emily  2004      F    AK     41

In [23]:
print("\nAfter deleting unnamed columns")
print('-'*30, sep='')
del df['Unnamed: 0']
print(df.head())

After deleting unnamed columns
------------------------------
      Id     Name  Year Gender State  Count
0  11350     Emma  2004      F    AK     62
1  11351  Madison  2004      F    AK     48
2  11352   Hannah  2004      F    AK     46
3  11353    Grace  2004      F    AK     44
4  11354    Emily  2004      F    AK     41

In [24]:
print("\nDistribution of Male and Female")
print('-'*31, sep='')
print("Total number of Males are %d"%len(df[df.Gender=='M']))
print("Total number of Females are %d"%len(df[df.Gender=='F']))
print('-'*31, sep='')
print("\nTop 5 most preferred names")
print('-'*27, sep='')

Distribution of Male and Female
-------------------------------
Total number of Males are 457549
Total number of Females are 558846
-------------------------------

Top 5 most preferred names
---------------------------

In [25]:
result =df.groupby(['Name'])["Count"].sum() # Grouping on the basis of Name and adding their count occurences

In [26]:
Top5 = result.reset_index().sort_values('Count',ascending=False).set_index('Count').head(5) # Show the top 5 most preferred names

In [27]:
for lab, row in Top5.iterrows() :
    print(row['Name'] + " has occurance of " + str(lab) + " times")
    
Median = result.median()
print("\nMedian is %f" %Median)

Jacob has occurance of 242874 times
Emma has occurance of 214852 times
Michael has occurance of 214405 times
Ethan has occurance of 209277 times
Isabella has occurance of 204798 times

Median is 49.000000

In [28]:
print("Median name occurence in the dataset are as follows :-")
print('-'*55, sep='')
print(result[result==int(Median)]) # Median name occurence in the dataset

Median name occurence in the dataset are as follows :-
-------------------------------------------------------
Name
Aishani       49
Alara         49
Alysse        49
Ameir         49
Anely         49
Antonina      49
Aveline       49
Aziah         49
Baily         49
Caleah        49
Carlota       49
Cristine      49
Dahlila       49
Darvin        49
Deante        49
Deserae       49
Devean        49
Elizah        49
Emmaly        49
Emmanuela     49
Envy          49
Esli          49
Fay           49
Gurshaan      49
Hareem        49
Iven          49
Jaice         49
Jaiyana       49
Jamiracle     49
Jelissa       49
              ..
Kyndle        49
Kynsley       49
Leylanie      49
Maisha        49
Malillany     49
Mariann       49
Marquell      49
Maurilio      49
Mckynzie      49
Mehdi         49
Nabeel        49
Nalleli       49
Nassir        49
Nazier        49
Nishant       49
Rebecka       49
Reghan        49
Ridwan        49
Riot          49
Rubin         49
Ryatt         49
Sameera       49
Sanjuanita    49
Shalyn        49
Skylie        49
Sriram        49
Trinton       49
Vita          49
Yoni          49
Zuleima       49
Name: Count, Length: 66, dtype: int64

In [29]:
dist_gender_state_result =df.groupby(['Gender','State'])["Count"].count() # Grouping of male and female born count by states
#print(dist_gender_state_result)
print('-'*55, sep='')
print("Total Number of Females in Alaska are %d"%dist_gender_state_result['F']['AK'])
print("Total Number of Females in Alabama are %d"%dist_gender_state_result['F']['AL'])
print("Total Number of Males in Alaska are %d"%dist_gender_state_result['M']['AK'])
print("Total Number of Males in Alabama are %d"%dist_gender_state_result['M']['AL'])
print('-'*55, sep='')

-------------------------------------------------------
Total Number of Females in Alaska are 2404
Total Number of Females in Alabama are 9878
Total Number of Males in Alaska are 2587
Total Number of Males in Alabama are 8419
-------------------------------------------------------